/forntend/ImageGen/ImageGen/output.bmp
/forntend/ImageGen/.vs/ImageGen
/.vs
/forntend/ImageGen/x64/Debug
/forntend/ImageGen/ImageGen/x64/Debug
/frontend/exoskyOpenGL/.vs/exoskyOpenGL
/frontend/exoskyOpenGL/exoskyOpenGL/x64/Debug
/frontend/exoskyOpenGL/x64/Debug
*.txt
*.bmp
backend/databuilder/*.raw
backend/databuilder/main
backend/databuilder/src/main
backend/databuilder/.log/*
backend/databuilder/layers/*
backend/databuilder/layers/
backend/databuilder/src/*.o
backend/databuilder/src/phase3
backend/downloader/node_modules/*
